body{
    background-color: slategray;
}

h1 {
    font-family: Chalkduster, serif;
    font-size: 120px;
    color: white;
    margin-top: 15%;
}


#Add {
    background-color: slategray;
    border: solid white 1px;
    padding: 0.3rem 1.5rem;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    justify-content: center;
    transition-duration: 0.4s;
}

#Add:hover{
    background-color: white;
    color: slategray;
}

#more {
    display: flex;
    justify-content: flex-end;
    color: white;
}

#modalButton {

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


