body{
    background-color: #00D3EB;
}

h1 {
    font-family: Chalkduster, serif;
    font-size: 120px;
    color: white;
    margin-top: 15%;
}

button {
    background-color: #00D3EB;
    border: solid white 1px;
    padding: 0.3rem 1.5rem;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    justify-content: center;
    transition-duration: 0.4s;
}

button:hover{
    background-color: white;
    color: #00D3EB;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
